Search by Title <br><br><br>
{{statusMessage}}<br><br>
<mat-form-field>
  <input matInput [(ngModel)]="titleInput" placeholder="Title">
</mat-form-field>

<button mat-button (click)='searchTitle()'>Search by Title</button>

<mat-list>
  <mat-list-item *ngFor="let book of books" >{{book.title}} by {{book.author}}</mat-list-item>
</mat-list>
